<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
    .container {
  background-color: #333;
  padding: 1rem;
  margin-top: 1rem;
}

.draggable {
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  cursor: move;
}

.draggable.dragging {
  opacity: .5;
}

    @import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: Raleway;
}
  </style>
</head>
<body>
<div class="container" id="ee">
  <p class="draggable" draggable="true">1</p>
  <p class="draggable" draggable="true">2</p>
  <p class="draggable" draggable="true">7</p>
  <p class="draggable" draggable="true">9</p>
</div>
<button onclick="fun()">Click</button>
<script type="text/javascript">

  function fun()
  {
    var x = document.getElementsByTagName("p");
    var y='';
    for(i=0;i<x.length;i++)
    y += x[i].innerHTML;
    document.write(y)
  }
  const draggables = document.querySelectorAll('.draggable')
const containers = document.querySelectorAll('.container')

draggables.forEach(draggable => {
  draggable.addEventListener('dragstart', () => {
    draggable.classList.add('dragging')
  })

  draggable.addEventListener('dragend', () => {
    draggable.classList.remove('dragging')
  })
})

containers.forEach(container => {
  container.addEventListener('dragover', e => {
    e.preventDefault()
    const afterElement = getDragAfterElement(container, e.clientY)
    const draggable = document.querySelector('.dragging')
    if (afterElement == null) {
      container.appendChild(draggable)
    } else {
      container.insertBefore(draggable, afterElement)
    }
  })
})

function getDragAfterElement(container, y) {
  const draggableElements = [...container.querySelectorAll('.draggable:not(.dragging)')]

  return draggableElements.reduce((closest, child) => {
    const box = child.getBoundingClientRect()
    const offset = y - box.top - box.height / 2
    if (offset < 0 && offset > closest.offset) {
      return { offset: offset, element: child }
    } else {
      return closest
    }
  }, { offset: Number.NEGATIVE_INFINITY }).element
}
</script>

</body>
</html>